:root {
  --cor-primaria: #f7f7f7;
  --cor-bg-1: #FFF;
  --cor-destaque: #e21;
  --cor-hover: #900;
  --texto-1: #000;
  --texto-2: #c6c6c6;
  --cor-subtitulo: #00000033;
  --onda: url(img/onda.svg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --cor-primaria: #1f1f1f;
    --cor-bg-1: #000;
    --texto-1: #fff;
    --texto-2: #c6c6c6;
    --cor-subtitulo: #ffffff33;
    --onda: url(img/onda-escura.svg);
  }
}

html {
  font-size: 10px;
  color: var(--texto-1);
}

body{
  display: grid;
  justify-items: center;
  gap: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: var(--cor-primaria);
  margin-top: 60px; 
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

p, h1, h2, h3 {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

p {
  font-size: 2rem;
  line-height: 1.3;
}

.header {
  display: grid;
  justify-items: center;
  gap: 60px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.menu li a {
  color: var(--texto-1);
  background: var(--cor-bg-1);
  text-decoration: none;
  border-radius: 4px;
  padding: 1.6rem 2rem;
  font-size: 1.6rem;
  border: solid 2px var(--cor-bg-1);;
}

.menu li a:hover {
  border-color: var(--cor-destaque);

}

.conteudo {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.intro {
  padding: 40px;
  background: var(--cor-bg-1);
  text-align: right;
  display: grid;
  align-content: center;
  justify-items: end;
  gap: 20px;
  position: relative;
}

.intro::before {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: var(--cor-destaque);
  position: absolute;
  top: 30px;
  right: -30px;
}


h1 {
  font-size: 3.2rem;
}

.botao {
  background: var(--cor-destaque);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  padding: 1.6rem 2rem;
  font-size: 1.6rem;
}

.botao:hover {
  background: var(--cor-hover);
}

.lista-vantagens {
  padding: 40px 40px 40px 40px;
  margin: 0px;
  background: var(--cor-bg-1);
}

.subtitulo {
  color: var(--cor-subtitulo);
  background-color: var(--cor-primaria);
  background-image: var(--onda);
  font-size: 6.4rem;
  text-align: right;
  padding: 4rem;
  align-self: center;
}


.item-vantagens {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  align-content: stretch;
  padding: 20px;
  border-left: 4px solid transparent;
}

.item-vantagens:nth-child(odd) {
  background: var(--cor-primaria);
}

.item-vantagens:hover {
  border-color: var(--cor-destaque);
}

.item-vantagens p {
  grid-area: 2 / 2;
}

h3 {
  font-size: 1.9rem;
}

.footer {
  width: 100%;
  text-align: center;
  background: var(--cor-bg-1);
  padding: 4rem;
  box-sizing: border-box;
}

@media (min-width: 1050px) {
  br {
    display: none;
  }
}

@media (max-width: 670px) {
  br {
    display: contents;
  }

  body {
    gap: 50px;
    margin-top: 40px;
  }

  .header {
    gap: 50px;
  }

  .conteudo {
    grid-template-columns: 1fr;
  }

  .intro {
    padding: 20px;
    text-align: left;
    justify-items: start;
    gap: 20px;
  }

  .bicicleta-preta{
    grid-row: 2;
  }

  .intro::before {
    left: 20px;
  }

  .subtitulo {
    text-align: left;
  }
  
  .footer {
    padding: 30px;
  }
}

@media (max-width: 530px) {
  .header {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
  }

  .logo {
    grid-column: 1 / -1;
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    gap: 60px 0px;
  }

}